.hero {
  width: 100%;
  justify-content: space-between;
  display: flex;
  height: 90%;
  display: flex;
  padding-top: 15%;
}

.intro {
  color: #D9D9D9;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
  max-width: 60%;
  height: 349px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

.animate-intro {
  animation: introAnimation 2s;
}

.intro > div > .my-name {
  color: #862121;
}

.image {
  width: 349px;
  height: 349px;
  border: 10px solid #862121;
  border-radius: 50%;
  background: url("../../images/me_1.jpeg");
  background-position: 	-30px -100px;
  background-size: cover;
}

.remove-opacity {
  opacity: 0;
}

.add-opacity {
  opacity: 1;
}

.animate-image {
  animation: imageAnimation 2s;
}

@keyframes introAnimation {
  from {
    margin-left: -500px;
    opacity: 0;
  }
  to {
    margin-left: 0px;
    opacity: 1;
  }
}

@keyframes imageAnimation {
  from {
    margin-right: -500px;
    opacity: 0;
  }
  to {
    margin-right: 0px;
    opacity: 1;
  }
}